@use "../abstracts" as a;

#hero{
  background: url("../images/hero-back.png");
  background-size: 1200px;
  // background-position: center;
  background-repeat: no-repeat;
}

#hero {
  background-color: a.$secondary-color;
  height: 1300px;
}

#hero-img {
  margin-top: -300px;
  // position: absolute;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

#hero h3 {
  font-family: a.$heading-font-family;
  font-weight: normal;
  color: #fff;
  font-size: 80px;
  margin-top: 80px;
  margin-left: 50px;
  font-weight: 500;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#hero-text p {
  top: 50%;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  font-size: 25px;
  line-height: 40px;
}

@media screen and (min-width: 768px) { 
	#hero h3 {
    font-size: 60px;
    margin-top: 50px;
  }

}

@media screen and (min-width: 1200px) {
	#hero h3 {
    font-size: 80px;
    margin-top: 80px;
  }

  }