@use "../abstracts" as a;

// .container {
// 	padding: 100px 100px;
// }
#contact {
    background-color: a.$secondary-color;
}
.container::after {
	content: '';
	// position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height: 840px;
	// background: url(../images/style-frame6.jpg) no-repeat center;
	background-size: cover;
	z-index: -1;
	filter: blur(20px);
	margin-top: 2870px;
	opacity: 40%;
	margin-left: 300px;
}

.contact-box { 
	/* max-width: 850px;  */
	max-width: 1200px;
	height: 600px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: red($color: #000000);
    border: #fff 2px;
	box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
	margin-left: 200px;
}

.left {
	height: 725px;
	background: url(../images/style-frame6.jpg) no-repeat center;
	background-size: cover;
	margin-bottom: 70px;
}

.right {
	padding: 5px 40px;
	margin-top: -15px;
	margin-bottom: 70px;
	margin-right: -50px;
}

h5 {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-size: 22px;
	color: #2b3e24;
	margin-right: 50px;
	margin-top: 15px;
}

h5::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%);
	height: 4px;
	width: 250px;
	background-color: #F4C8C3;
}

.field {
	width: 80%;
	display: block;
	padding: 1rem 1rem;
	background-color: #fff;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .1s;
	outline: none;
	border-radius: 5px;
	border: 2px solid rgb(227, 227, 227);
	margin-top: 30px;
	padding-inline: 50px;
	margin: 8px;
	font-size: 18px;
}

.field:hover {
	background-color: a.$secondary-color;
    border: 2px solid #fff;
}

.field:focus {
	background-color: #fff;
	border: 2px solid rgb(227, 227, 227);
}

.area {
	min-height: 150px;
}

.btn {
	width: 30%;
	height: 50px;
	padding: 0.5rem 0.5rem;
	font-size: 1.1rem;
	background-color: #2b3e24;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .3s;
	color: #fff;
	margin-right: 45px;
	margin-top: 5px;
}

.btn:hover {
	background-color: #fff;
    color: #2b3e24;
}

@media screen and (max-width:1200px) {
	.contact-box {
		grid-template-columns: 1fr;
	}
}

// .left {
// 	height: 600px;
// 	width: 750px;
// }
